请勿回复本邮件.点击下面的链接,重设密码！</br>
<a href="http://localhost:8080/REManager/find?action=findPassword&username={username}&email={email}&validateCode={validateCode}">http://localhost:8080/REManager/find?action=findPassword&email={email}&validateCode={validateCode}</a>